compound-hunting[cuda12]>=0.2.1
data-pooler>=0.0.8
ipympl>=0.9.3
ipywidgets>=8.1.0
spectral-toolkit>=0.1.1
voc-fitter<5.9.0
spectral-arithmetic>=0.0.1
h5netcdf>=1.2.0
hvplot>=0.8.4
netCDF4>=1.6.4
numpy>=1.21.5
pandas<2.3.0
ipyfilechooser>=0.6.0
ipyparallel>=8.6.1
jupyter_bokeh>=3.0.7
jupyterlab<4
jupyterlab-templates>=0.4.0
papermill>=2.4.0
picarro-xarray>=0.1.0
kaleido>=0.2.1
nodeenv>=1.8.0
configobj~=5.0.8
picarro-plots>=0.0.7
ray[default]>=2.44.0
pydantic==2.7.0
pydantic-core==2.18.1
pyarrow==19.0.0
picarro-petroglyph==0.11.0
arviz>=0.21.0
